<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWS.SessionProvider" version="3.1.0.2" targetFramework="net45" />
  <package id="AWS.TraceListener" version="3.1.0.1" targetFramework="net45" />
  <package id="AWSSDK.Core" version="3.1.8.1" targetFramework="net45" />
  <package id="AWSSDK.DynamoDBv2" version="3.1.5.1" targetFramework="net45" />
  <package id="AWSSDK.SQS" version="3.1.0.11" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
</packages>
