@model EMS.NIEM.Sensor.PhysiologicalSensorDetails

@*This is the main view for displaying sensor physiological info*@

<table style="color:black; border-collapse: collapse; border: 1px solid black; width: 25%;">
  <tr>
    <th style="text-align: left" colspan="2">
      Physiological Details
    </th>
  </tr>

  @{ 
    Fresh.API.Areas.DE_HTML.Models.NameValue_ViewModel nameValue = new Fresh.API.Areas.DE_HTML.Models.NameValue_ViewModel();
  }


  @if (Model.ShouldSerializeHeartRate())
  {
    nameValue.Name = "Heart Rate:";
    nameValue.Value = Model.HeartRate.ToString();

    @Html.Partial("SensorDetails_TableRow50", nameValue);
  }


  @if (Model.ShouldSerializeSkinTemperature())
  {
    nameValue.Name = "Skin Temperature:";

    float temp = (float)Model.SkinTemperature / 10;
    nameValue.Value = temp.ToString("##0.0") + " °F";

   @Html.Partial("SensorDetails_TableRow50", nameValue);
  }


  @if (Model.ShouldSerializeRespirationRate())
  {
    nameValue.Name = "Respiration Rate:";
    nameValue.Value = Model.RespirationRate.ToString();

    @Html.Partial("SensorDetails_TableRow50", nameValue);
  }


  @if (Model.ShouldSerializeSPO2())
  {
    nameValue.Name = "SPO2:";

    float temp = (float)Model.SPO2 / 10;
    nameValue.Value = temp.ToString("####0.0") + " %";

    @Html.Partial("SensorDetails_TableRow50", nameValue);
  }
</table>
