@model Fresh.API.Areas.DE_HTML.Models.NameValue_ViewModel

@*This is the main view for displaying name-value pair data in a simple table*@

<tr style="color:black; border-collapse: collapse; border: 1px solid black;">
  <td style="color:black; border-collapse: collapse; border: 1px solid black;  width: 50%;">
    @Model.Name
  </td>
  <td style="color:black; border-collapse: collapse; border: 1px solid black;">
    @Model.Value
  </td>
</tr>
