<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="Fresh.PostGIS"
        connectionString="Server=127.0.0.1;Port=5432;Database=freshgeo;User Id=freshdbuser;Password=mypass;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="Fresh.Archive"
        connectionString="Server=127.0.0.1;Port=5432;Database=fresharchive;User Id=freshdbuser;Password=mypass;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
  </system.web>
</configuration>
